.main-section{
    border:1px solid white;
    width: 800px;
    border-radius: 10px;
    padding:10px;
    margin-left: 20px;
}
.title-section{
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
}
button{

    position: absolute;
    margin-top: 155px;
}